.container, .game-screen {
  border: 0px solid black;
  width: 800px;
  height: 600px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  border: 2px solid black;
  width: 796px;
  margin: 0 auto;
  text-align: center;
}